<div *ngIf="!isLoading && !isError">
    <h2>Ogłoszenia </h2>
    <app-user-addvertisment-item
    *ngFor="let shortAddvertisment of shortAddvertisments"
    [shortAdvertisment]="shortAddvertisment"></app-user-addvertisment-item>
    <app-pagination
    [url]="['/user-page','user-addvertisments']"
    [currentPage]="page"
    [maxPage]="maxPage"
    [queryParams]="queryParams"
    ></app-pagination>
</div>
<div 
*ngIf="isLoading"
style="display: flex; align-items: center; justify-content: center;"
>
    <app-spinner></app-spinner>
</div>
