<div *ngIf="!isLoading && !isError">
    <h2>Ogłoszenia </h2>
    <app-user-addvertisment-item
    *ngFor="let shortAddvertisment of shortAddvertisments"
    [shortAdvertisment]="shortAddvertisment"></app-user-addvertisment-item>
    <app-pagination
    [url]="['/user-page','user-addvertisments']"
    [currentPage]="page"
    [maxPage]="maxPage"
    [queryParams]="queryParams"
    ></app-pagination>
</div>
<div 
*ngIf="isLoading"
style="display: flex; align-items: center; justify-content: center;"
>
    <app-spinner></app-spinner>
</div>
<div 
class="alert alert-danger"
 role="alert"
 *ngIf="isError"
 >
    Coś poszło nie tak 
    <a 
    class="alert-link"
    [routerLink]="['/user-page','user-addvertisments']"
    [queryParamsHandling]="'merge'"
    [queryParams]="{afd: random()}"
    routerLinkActive="active">spróbuj ponownie</a>
  </div>