<div class="d-flex justify-content-center top-margin">
    <form 
    style="width: 40%;"
    [formGroup]="searchAddForm" 
    (ngSubmit)="onSubmit()">
        <h2>Opcje wyszukiwania</h2>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="brandName">Marka </label>
                <select 
                class="form-control"
                id="brandName"
                formControlName="brandName"
                [value]="selectBrandIndex"
                (change)="onChangeBrand($event.target.value)">
                    <option 
                    *ngFor="let brand of brands" 
                    [value]="brand.id">
                        {{brand.name}}
                    </option>
                </select>
                <div *ngIf="isBrandLoading" 
                style="text-align: center;">
                    <app-spinner [size]="2"></app-spinner>
                </div>
                <div 
                class="alert alert-danger" 
                role="alert"
                *ngIf="isBrandError"
                style="padding: 0 3px; margin: 0" >
                    Coś poszło nie tak
                </div>
            </div>
                <div class="form-group col-md-6">
                    <label for="modelName">Model</label>
                    <select
                    [attr.disabled]="searchAddForm.get('modelName').invalid ? 
                    '' : 
                    null"
                    class="form-control"
                    id="modelName"
                    formControlName="modelName"
                    *ngIf="!isCarModelLoading && !isCarModelError"
                    >
                    <option
                    *ngFor="let carModel of carModels"
                    [value]="carModel.id">
                    {{carModel.name}}
                    </option>
                    </select>
                    <div 
                    *ngIf="isCarModelLoading" 
                    style="text-align: center;">
                        <app-spinner [size]="2"></app-spinner>
                    </div>
                    <div 
                    class="alert alert-danger" 
                    role="alert"
                    *ngIf="isCarModelError"
                    style="padding: 0 3px; margin: 0" >
                        Coś poszło nie tak
                    </div>
                </div>   
            </div>
            <div class="form-group">
                <label for="low-price">Minimalna cena</label>
                <input 
                type="range" 
                class='form-control slider' 
                id="low-price" 
                name="low-price"
                formControlName="lowPrice"
                min="1" 
                [max]="highPrice" 
                (ngModelChange)="setLowPrice($event)"
                [value]="lowPrice">
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap form-group">
                <input 
                type="number" 
                formControlName="lowPrice"
                (ngModelChange)="setLowPrice($event)"
                [value]="lowPrice">
                <p>Aktualna wartość: {{lowPrice}}</p>
            </div>
            <div class="form-group">
                <label for="high-price">Maksymalna cena</label>
                <input 
                type="range" 
                class='form-control slider' 
                id="high-price" 
                name="high-price"
                formControlName="highPrice"
                [min]="lowPrice" 
                max="100000000" 
                (ngModelChange)="setHighPrice($event)"
                [value]="highPrice">
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap form-group">
                <input 
                type="number" 
                formControlName="highPrice"
                (ngModelChange)="setHighPrice($event)"
                [value]="highPrice">
                <p>Aktualna wartość: {{highPrice}}</p>
            </div>
            <div class="form-group">
                <label for="low-registration">Pierwsza rejestracja(od)</label>
                <input 
                type="range" 
                class='form-control slider' 
                id="low-registration" 
                name="low-registration"
                formControlName="lowRegistration"
                min="1900" 
                [max]="highRegistration" 
                (ngModelChange)="setlowRegistration($event)"
                [value]="lowRegistration">
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap form-group">
                <input 
                type="number" 
                formControlName="lowRegistration"
                (ngModelChange)="setlowRegistration($event)"
                [value]="lowRegistration">
                <p>Aktualna wartość: {{lowRegistration}}</p>
            </div>
            <div class="form-group">
                <label for="high-registration">Pierwsza rejestracja(do)</label>
                <input 
                type="range" 
                class='form-control slider' 
                id="high-registration" 
                name="high-registration"
                formControlName="highRegistration"
                [min]="lowRegistration" 
                [max]="highRegistrationStart" 
                (ngModelChange)="setHighRegistration($event)"
                [value]="highRegistration">
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap form-group">
                <input 
                type="number" 
                formControlName="highRegistration"
                (ngModelChange)="setHighRegistration($event)"
                [value]="highRegistration">
                <p>Aktualna wartość: {{highRegistration}}</p>
            </div>
            <h5>Sortowanie po dacie Utworzenia</h5>
            <div class="form-check">
            <input 
            class="form-check-input" 
            type="radio" 
            name="orderBy" 
            id="ascending" 
            value="asc"
            formControlName="orderBy" 
            checked>
                <label class="form-check-label" for="ascending">
                    rosnąco
                </label>
            </div>
            <div class="form-check">
            <input 
            class="form-check-input" 
            type="radio" 
            name="orderBy" 
            id="descending" 
            value="desc"
            formControlName="orderBy">
                <label class="form-check-label" for="descending">
                    malejąco
                </label>
            </div>
            <button
            class="btn btn-success top-margin"
            type="submit"
            >
            Szukaj
            </button>
    </form>
</div>
