<div class="d-flex justify-content-center top-margin">
    <div class="col-lg-4 col-md-6 border border-primary rounded padding">
        <app-error-message *ngIf="isError"></app-error-message>
        <h3>Zaloguj się</h3>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <label for="username">Email</label>
            <input type="text" 
            class="form-control" 
            [ngClass]="{'is-invalid' : 
            !resetPasswordForm.get('username').valid && 
            resetPasswordForm.get('username').touched,
            'is-valid' : resetPasswordForm.get('username').valid}"
            id="username"
            formControlName="username">
            <div class="invalid-feedback"
                *ngIf="resetPasswordForm.get('username').errors?.required">
            Pole jest wymagane
            </div>
            <div class="invalid-feedback"
                *ngIf="resetPasswordForm.get('username').errors?.minlength">
                E-mail za krótki(minimalnie 3 znaki)
            </div>
            <div class="invalid-feedback"
                *ngIf="resetPasswordForm.get('username').errors?.maxlength">
                E-mail za długi(maksymalnie 100 znaków)
            </div>
            <div class="invalid-feedback"
                *ngIf="resetPasswordForm.get('username').errors?.email ">
                Niepoprawny email
            </div>
            <div class="invalid-feedback"
                *ngIf="resetPasswordForm.get('username').errors?.withoutspace">
                E-mail nie może zawierać spacji
            </div>
            <div class="valid-feedback">
            OK!
            </div>
            <button 
            class="btn btn-success top-margin"
            type="submit"
            *ngIf="!isLoading; else loading"
            [disabled]="resetPasswordForm.invalid"
            >Zaloguj się</button>
            <ng-template #loading>
                <button 
                class="btn btn-success top-margin"
                ><app-spinner [size]="1"></app-spinner> Wysyłanie...</button>
            </ng-template>
        </form>
    </div>
</div>
<div *ngIf="isEmailSend">
    <app-modal
    title="Logowanie powiodło się"
    [showAcceptButton]="true"
    [showCancelButton]="false"
    firstAction="Wróć do strony głównej"
    (action)="onSendEmail()"
    ></app-modal>
</div>
