<footer class=" row row row-cols-md-3 row-cols-1 mx-auto d-flex justify-content-around" style="margin-top: 50px; padding-bottom: 50px">
<div class="text-center"><h3>REGULAMINY</h3>
  <div>
    <a href="#"> <p>Regulamin serwisu OTOCAR
    </p></a>
  </div>
  <div>
    <a href="#"><p>Regulamin dla Klientów Biznesowych</p></a>
  </div>
  <div>
    <a href="#"> <p>Politka prywatnosci</p></a>
  </div>
  <div>
    <a href="#"><p>Politka prywatnosci</p></a>
  </div>
</div>
  <div class="text-center call" style="border-left: solid 1px black;border-right: solid 1px black; padding: 0 10%">
    <h3>ZADZWON</h3>
    <div><p></p></div>
    <div><p>+45 123 45 79</p></div>
    <div><p>+ 111 222 333</p></div>
  </div>
<div class="text-center"><h3>Napisz</h3>
<p>tojestmaildoprojektuotocar@gmail.com</p></div>
</footer>
