<footer class=" row row row-cols-md-3 row-cols-1 mx-auto d-flex justify-content-around" style="margin-top: 60px; padding-bottom: 20px">
<div class="text-center"><h3>REGULAMINY</h3>
  <div>
    <a [routerLink]="['/main-statute']" routerLinkActive="active">
      <p>Regulamin serwisu OTOCAR</p>
    </a>
  </div>
  <div>
    <a [routerLink]="['/business-statute']" routerLinkActive="active">
      <p>Regulamin dla Klientów Biznesowych</p>
    </a>
  </div>
  <div>
    <a [routerLink]="['/privacy-policy']" routerLinkActive="active">
      <p>Politka prywatnosci</p>
    </a>
  </div>
  <div>
    <a [routerLink]="['/cookie-policy']" routerLinkActive="active">
      <p>Politka plików cookies</p>
    </a>
  </div>
</div>
  <div class="text-center call" style="border-left: solid 1px black;border-right: solid 1px black; padding: 0 10%">
    <h3>ZADZWON</h3>
    <div style="font-size: 1.2rem;">
      <app-tel-link [phoneNumber]="'192053944'"></app-tel-link>
    </div>
    <div style="font-size: 1.2rem;">
      <app-tel-link [phoneNumber]="'112334550'"></app-tel-link>
    </div>
  </div>
<div class="text-center"><h3>Napisz</h3>
<p>tojestmaildoprojektuotocar@gmail.com</p></div>
</footer>
