<div class="d-flex justify-content-center top-margin page">
    <div class="col-lg-4 col-md-5 border border-primary rounded padding">
        <app-error-message *ngIf="isError"></app-error-message>
        <h3>Załóż darmowe konto!</h3>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">Imię</label>
                <input type="text"
                class="form-control is-invalid"
                [ngClass]="{'is-invalid' : 
                !registrationForm.get('firstName').valid &&
                registrationForm.get('firstName').touched,
                'is-valid' : registrationForm.get('firstName').valid}"
                id="firstName"
                formControlName="firstName"
                >
                <div class="invalid-feedback"
                    *ngIf="registrationForm.get('firstName').errors?.required">
                    Pole jest wymagane
                </div>
                <div class="invalid-feedback"
                    *ngIf="registrationForm.get('firstName').errors?.minlength">
                    Imię za krótkie(minimalnie 3 znaki)
                </div>
                <div class="invalid-feedback"
                    *ngIf="registrationForm.get('firstName').errors?.maxlength">
                    Imię za długie(maksymalnie 40 znaków)
                </div>
                <div class="invalid-feedback"
                    *ngIf="registrationForm.get('firstName').errors?.withoutspace">
                    Imię nie może zawierać spacji
                </div>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Nazwisko</label>
                <input
                type="text" 
                class="form-control" 
                id="lastName"
                [ngClass]="{'is-invalid' : 
                !registrationForm.get('lastName').valid && 
                registrationForm.get('lastName').touched,
                'is-valid' : registrationForm.get('lastName').valid}"
                formControlName="lastName">
                <div class="invalid-feedback"
                *ngIf="registrationForm.get('lastName').errors?.required">
                Pole jest wymagane
                </div>
                <div class="invalid-feedback"
                    *ngIf="registrationForm.get('lastName').errors?.minlength">
                    Nazwisko za krótkie(minimalnie 3 znaki)
                </div>
                <div class="invalid-feedback"
                    *ngIf="registrationForm.get('lastName').errors?.maxlength">
                    Nazwisko za długie(maksymalnie 40 znaków)
                </div>
                <div class="invalid-feedback"
                    *ngIf="registrationForm.get('lastName').errors?.withoutspace">
                    Nazwisko nie może zawierać spacji
                </div>
                <div class="valid-feedback">
                OK!
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Numer telefonu</label>
                <input
                type="text" 
                class="form-control" 
                id="phoneNumber"
                [ngClass]="{'is-invalid' : 
                !registrationForm.get('phoneNumber').valid && 
                registrationForm.get('phoneNumber').touched,
                'is-valid' : registrationForm.get('phoneNumber').valid}"
                formControlName="phoneNumber">
                <div class="invalid-feedback"
                *ngIf="registrationForm.get('phoneNumber').errors?.required">
                Pole jest wymagane
                </div>
                <div class="invalid-feedback"
                    *ngIf="registrationForm.get('phoneNumber').errors?.phonenumber">
                    niepoprawny numer telefonu
                </div>
                <div class="invalid-feedback"
                    *ngIf="registrationForm.get('phoneNumber').errors?.maxlength">
                    dozwolona długość to 9
                </div>
                <div class="invalid-feedback"
                    *ngIf="registrationForm.get('phoneNumber').errors?.withoutspace">
                    numer telefonu nie może zawierać spacji
                </div>
                <div class="valid-feedback">
                OK!
                </div>
            </div>
            <div formGroupName="registerUser">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" 
                    class="form-control" 
                    [ngClass]="{'is-invalid' : 
                    !registrationForm.get('registerUser.username').valid && 
                    registrationForm.get('registerUser.username').touched,
                    'is-valid' : registrationForm.get('registerUser.username').valid}"
                    id="username"
                    formControlName="username">
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.username').errors?.required">
                    Pole jest wymagane
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.username').errors?.minlength">
                        E-mail za krótki(minimalnie 3 znaki)
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.username').errors?.maxlength">
                        E-mail za długi(maksymalnie 100 znaków)
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.username').errors?.email ">
                        Niepoprawny email
                    </div>
                    <div class="invalid-feedback"
                    *ngIf="registrationForm.get('registerUser.username').errors?.isusernameexisted ">
                        Użytkownik o takim addresie email istnieje <a [routerLink]="['/sign-in']" class="alert-link" >zaloguj się</a>
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.username').errors?.withoutspace">
                        E-mail nie może zawierać spacji
                    </div>
                    <div class="valid-feedback">
                    OK!
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" 
                    class="form-control"
                    [ngClass]="{'is-invalid' : 
                    !registrationForm.get('registerUser.password').valid && 
                    registrationForm.get('registerUser.password').touched,
                    'is-valid' : registrationForm.get('registerUser.password').valid}" 
                    id="password"
                    formControlName="password">
                    <div class="invalid-feedback"
                    *ngIf="registrationForm.get('registerUser.password').errors?.required">
                    Pole jest wymagane
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.password').errors?.minlength">
                        Hasło za krótkie(minimalnie 8 znaki)
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.password').errors?.maxlength">
                        Hasło za długie(maksymalnie 40 znaków)
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.password').errors?.requiredcapitalletter">
                        Hasło musi zawierać co najmniej jedną dużą literę
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.password').errors?.requiredspecialsign">
                        Hasło musi zawierać co najmniej jeden znak specjalny
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.password').errors?.requireddigit">
                        Hasło musi zawierać co najmniej jedną cyfrę
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registrationForm.get('registerUser.password').errors?.withoutspace">
                        Hasło nie może zawierać spacji
                    </div>
                    <div class="valid-feedback">
                    OK!
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input 
                type="checkbox" 
                id="statute"
                (click)="onClickAccept()"
                [checked]="isAccept"
                >
                <label 
                class="form-check-label" 
                for="statute">
                    potwierdzam zapoznanie się z <a [routerLink]="['/main-statute']" routerLinkActive="active">regulaminem</a>
                </label>
            </div>
            <button 
            class="btn btn-success top-margin"
            type="submit"
            *ngIf="!isLoading; else loading"
            [disabled]="registrationForm.invalid || !isAccept"
            >załóż konto!</button>
            <ng-template #loading>
                <button 
                class="btn btn-success top-margin"
                ><app-spinner [size]="1"></app-spinner> Wysyłanie...</button>
            </ng-template>
        </form>
    </div>
</div>
<app-modal
*ngIf="isSuccess"
title="Udało się założyć konto!"
message="Prosimy sprawdzić email w celu dokończenie rejestracji"
[showCancelButton]="false"
[showAcceptButton]="true"
firstAction="Wróć do strony głównej"
(action)="onPressSuccessModal($event)"
></app-modal>