<div class="d-flex justify-content-center top-margin">
    <div class="col-lg-4 col-md-6 border border-primary rounded padding">
        <app-error-message *ngIf="isError"></app-error-message>
        <h3>Zmień hasło</h3>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" 
                class="form-control"
                [ngClass]="{'is-invalid' : 
                !resetPasswordForm.get('password').valid && 
                resetPasswordForm.get('password').touched,
                'is-valid' : resetPasswordForm.get('password').valid}" 
                id="password"
                formControlName="password">
                <div class="invalid-feedback"
                *ngIf="resetPasswordForm.get('password').errors?.required">
                Pole jest wymagane
                </div>
                <div class="invalid-feedback"
                    *ngIf="resetPasswordForm.get('password').errors?.minlength">
                    Hasło za krótkie(minimalnie 8 znaki)
                </div>
                <div class="invalid-feedback"
                    *ngIf="resetPasswordForm.get('password').errors?.maxlength">
                    Hasło za długie(maksymalnie 40 znaków)
                </div>
                <div class="invalid-feedback"
                    *ngIf="resetPasswordForm.get('password').errors?.requiredcapitalletter">
                    Hasło musi zawierać co najmniej jedną dużą literę
                </div>
                <div class="invalid-feedback"
                    *ngIf="resetPasswordForm.get('password').errors?.requiredspecialsign">
                    Hasło musi zawierać co najmniej jeden znak specjalny
                </div>
                <div class="invalid-feedback"
                    *ngIf="resetPasswordForm.get('password').errors?.requireddigit">
                    Hasło musi zawierać co najmniej jedną cyfrę
                </div>
                <div class="invalid-feedback"
                    *ngIf="resetPasswordForm.get('password').errors?.withoutspace">
                    Hasło nie może zawierać spacji
                </div>
                <div class="valid-feedback">
                OK!
                </div>
                <button 
                class="btn btn-success top-margin"
                type="submit"
                *ngIf="!isLoading; else loading"
                [disabled]="resetPasswordForm.invalid"
                >Zmień hasło</button>
                <ng-template #loading>
                    <button 
                    class="btn btn-success top-margin"
                    ><app-spinner [size]="1"></app-spinner> Wysyłanie...</button>
                </ng-template>
            </div>
        </form>
    </div>
</div>
<div *ngIf="isChangePassword">
    <app-modal
    title="Hasło zostało zmienione"
    [showAcceptButton]="true"
    [showCancelButton]="false"
    firstAction="Zaloguj się"
    (action)="onChangePassword()"
    ></app-modal>
</div>
