<div class="container" style="margin-top: 50px">
  <div class=" row row row-cols-md-2 row-cols-1 mx-auto">
  <div >
    <ngb-carousel style="">
      <ng-template ngbSlide>
        <img src="https://picsum.photos/600/300" alt="Delhi Metro">

      </ng-template>
      <ng-template ngbSlide>
        <img src="https://picsum.photos/600/300" alt="Bangalore Metro">

      </ng-template>
      <ng-template ngbSlide>
        <img src="https://picsum.photos/600/300" alt="Channai Metro">
        <div class="carousel-caption">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="https://picsum.photos/600/300" alt="Jaipur Metro">

      </ng-template>
      <ng-template ngbSlide>
        <img src="https://picsum.photos/600/300" alt="Mumbai Metro">
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="text-center">
    <div><p class="text-center">Sprzedający: xyz</p></div>
    <div>
     <H5> Cena: </H5>
         <h3> 10 000</h3>
   </div>
    <button class="btn btn-primary" style="margin-top: 20px">Napisz wiadomość do sprzedającego</button>
    <div style="margin-top: 20px">
      <p>
      Numer telefonu</p>
      <h4>+45 457 85 64</h4>
    </div>
    <div>
      <p> Dodane 3 dni temu!</p>
    </div>
  </div>
  </div>
  <table class="table table-striped" style="margin-top: 30px">
    <tbody>
    <tr>
      <th scope="row">Marka:</th>
      <td>dupa</td>

    </tr>
    <tr>
      <th scope="row">Model:</th>
      <td>Jacob</td>

    </tr>
    <tr>
      <th scope="row">Rok produkcji:</th>
      <td>Larry</td>

    </tr>
    <tr>
      <th scope="row">Przebieg:</th>
      <td>Larry</td>
    </tr>
    <tr>
      <th scope="row">Rodzaj paliwa:</th>
      <td>Larry</td>
    </tr>
    <tr>
      <th scope="row">Typ:</th>
      <td>Larry</td>
    </tr>
    <tr>
      <th scope="row">Color:</th>
      <td>Larry</td>
    </tr>
    </tbody>
  </table>
  <div>
    <h4 class="text-center">Tytuł</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur at consequuntur cupiditate doloribus dolorum, ea expedita explicabo ipsam laborum molestiae optio perspiciatis quod quos ratione tempore ut? Aliquam facere fugiat harum ipsam ipsum iure sapiente soluta unde? Accusamus alias culpa fuga fugit harum iste itaque, laboriosam neque nisi non officia quibusdam sint voluptatem. At consectetur cumque debitis dolorem dolores, magnam molestias optio placeat porro quae quam quas quisquam quod unde vel. Aliquam assumenda, blanditiis commodi harum maiores nemo quis quod ullam ut vel. Aperiam aspernatur beatae, consequatur ducimus eius illo itaque laborum officiis qui, sapiente, soluta voluptatibus. Atque, quae?</p>
  </div>
</div>
