<div 
    class="alert alert-danger" 
    role="alert"
    *ngIf="isError"
    style="padding: 0 3px; margin: 0" >
      Coś poszło nie tak <a 
      class="stretched-link text-danger" 
      [routerLink]="['/user-page','user-data']" 
      [queryParams]="{adf: random(),userId: userId}">spróbuj jeszcze raz</a>
</div>
<div *ngIf="isLoading" style="display: flex; align-items: center; justify-content: center;">
    <app-spinner ></app-spinner>
</div>
<div *ngIf="!isError && !isLoading">
    <div>
        <h2 class="left">{{seller?.firstName | upperCaseFirstLetter}}</h2>
    </div>
    <div class = "d-flex flex-row bd-highlight mb-3 justify-content-around" style="max-width: 330px;">
        <ul class="list-no-style right">
            <li>Imie: </li>
            <li>Nazwisko: </li>
            <li>numer telefonu </li>
            <li>data dołączenia: </li>
            <li>Typ konta: </li>
            <li *ngIf="seller?.isPremium" class="primary-color"> Konto premium do</li>
        </ul>
        <ul class="list-no-style left">
            <li>{{seller?.firstName | upperCaseFirstLetter}}</li>
            <li>{{seller?.lastName | upperCaseFirstLetter}}</li>
            <li>{{seller?.phoneNumber}}</li>
            <li>{{seller?.createAccount}}</li>
            <li>{{seller?.type | uppercase}}</li>
            <li *ngIf="seller?.isPremium" class="primary-color">{{seller?.premiumAccount}}</li>
        </ul>
    </div>
</div>