<div 
    class="alert alert-danger" 
    role="alert"
    *ngIf="isError"
    style="padding: 0 3px; margin: 0" >
      Coś poszło nie tak <a 
      class="stretched-link text-danger" 
      [routerLink]="['/user-page','user-data']" 
      [queryParams]="{adf: random(),userId: userId}">spróbuj jeszcze raz</a>
</div>
<div *ngIf="isLoading" style="display: flex; align-items: center; justify-content: center;">
    <app-spinner ></app-spinner>
</div>
<div 
*ngIf="!isError && !isLoading"
class="card"> 
    <div class="card-body">
        <h2 class="card-title">{{seller?.firstName | upperCaseFirstLetter}}</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="float-right">{{seller?.firstName | upperCaseFirstLetter}}</div>
                <h6 class="row card-text">Imie:</h6>
            </li>
            <li class="list-group-item">
                <div class="float-right">{{seller?.lastName | upperCaseFirstLetter}}</div>
                <h6 class="row card-text">Nazwisko</h6>
            </li>
            <li class="list-group-item">
                <div class="float-right">
                    <app-tel-link [phoneNumber]="seller?.phoneNumber"></app-tel-link>
                </div>
                <h6 class="row card-text">Numer telefonu</h6>
            </li>
            <li class="list-group-item">
                <div class="float-right">{{seller?.createAccount}}</div>
                <h6 class="row card-text">Data dołączenia: </h6>
            </li>
            <li class="list-group-item">
                <div class="float-right">{{seller?.type | uppercase}}</div>
                <h6 class="row card-text">Typ konta: </h6>
            </li>
            <li class="list-group-item"
            *ngIf="seller?.isPremium; else notPremium" >
                <div class="float-right primary-color">{{seller?.premiumAccount}}</div>
                <h6 class="row card-text primary-color"> Konto premium do </h6>
            </li>
            <ng-template #notPremium>
                <li class="list-group-item"
                *ngIf="seller?.canCreateAddvertisement; else notAllow">
                    <div class="float-right success-color">Dostępne</div>
                    <h6 class="row card-text success-color">Następne ogłoszenie: </h6>
                </li>
                <ng-template #notAllow>
                    <li class="list-group-item">
                        <div class="float-right danger-color">{{seller?.nextAddvertisment | dateFormat}}</div>
                        <h6 class="row card-text danger-color">Następne ogłoszenie: </h6>
                    </li>
                </ng-template>
            </ng-template>
        </ul>
    </div>
</div>