<div class="card " style="min-width: 40%;margin-bottom: 10%" >
  <div class="card-title"><h1 class="text-center" style="padding-top: 5%">{{ data.title }}</h1></div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> 
        <div class="float-right">{{ data.expires}} dni</div>
        <h6 class="row card-text">Czas ważności pakietu:</h6>
      </li>
      <li class="list-group-item">
        <div class="float-right">{{ data.price }} zł</div>
        <h6 class="row card-text">Cena:</h6>
      </li>
    </ul>
    <button class="btn btn-primary float-right"style="margin-top: 5%;" (click)="showModal()">Kup Teraz!</button>
  </div>
</div>
<app-modal
*ngIf="isModal"
title="Czy na pewno chcesz kupić premium?"
    message="Proszę potwierdzić zakup pakietu premium"
    firstAction="KUP!"
    secondAction="anuluj"
    [showAcceptButton]="true"
    (action)="onAction($event)"
></app-modal>
<app-modal
*ngIf="isSuccessModal"
title="Zakup udany!"
    message="Dziekujemy za zakup w naszej aplikacji"
    secondAction="zamknij"
    (action)="closeSuccessModal()"
></app-modal>
<app-modal
*ngIf="isFailModal"
title="Wystąpił bład :/"
    message="Przepraszamy! Proszę spróbuj jeszcze raz"
    secondAction="zamknij"
    (action)="closeFailModal()"
></app-modal>