<div class="card" style="width: 80%; margin: 10px;">
     <div 
     *ngIf="this.shortAdvertisment.images[0]?.photo !== undefined"
    class="card-img-top" 
    [ngStyle]="{
      'background-image': getUrl()}"
      style="
      min-width: 100%;
      min-height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      height: 9rem;"
    ></div> 
    <div class="card-body">
      <div
      *ngIf="isError" 
      class="alert alert-danger" 
      role="alert">
        Coś poszło nie tak
      </div>
      <h5 class="card-title">{{shortAdvertisment.title}}</h5>
      <p class="card-text">{{shortAdvertisment.content | shorterText}}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="float-right">{{ shortAdvertisment.price }} zł</div>
            <h5 class="row card-text">Cena:</h5>
        </li>
        <li class="list-group-item">
            <div class="float-right">{{ shortAdvertisment.car.fuel | translateFuel}} </div>
            <h5 class="row card-text">Rodzaj paliwa:</h5>
        </li>
        <li class="list-group-item">
            <div class="float-right">{{ shortAdvertisment.car.firstRegistartion }} </div>
            <h5 class="row card-text">Pierwsza rejestracja:</h5>
        </li>
        <li class="list-group-item">
            <div class="float-right">{{ shortAdvertisment.car.mileage }} </div>
            <h5 class="row card-text">Przebieg:</h5>
        </li>
        <li class="list-group-item">
          <div class="float-right">{{ shortAdvertisment.dateAdd }} </div>
          <h5 class="row card-text">Data wystawienia:</h5>
        </li>
      </ul>
      <div style="width: 100%; display: flex; flex-direction: column;">
        <button
        type="button"
        class="btn btn-success" 
        (click)="showDetails()"
        >Zobacz</button>
        <button 
        type="button" 
        class="btn btn-warning" 
        style="color: white;" 
        (click)="modifyAddvertisment()">
        Modyfikuj</button>
        <button
        *ngIf="!isDeleteLoading; else deleteLoading" 
        type="button" 
        class="btn btn-danger" 
        (click)="deleteAddvertisment(shortAdvertisment.id)">
        Usuń</button>
        <ng-template #deleteLoading>
          <button         
          type="button" 
          class="btn btn-danger" >
            <app-spinner [size]="1"></app-spinner>
          </button>
        </ng-template>
        <button 
        *ngIf="shortAdvertisment.active !== undefined"
        type="button" 
        class="btn btn-info" 
        (click)="toggleActive()">
        {{shortAdvertisment.active ? 'zdeaktywuj' : 'aktywuj'}}</button>
      </div>
    </div>
  </div>
