<div class="row row row-cols-md-3 row-cols-1 mx-auto d-flex justify-content-around details-page ">
    <div class="list-group order-md-3" style="margin-bottom: 20px;">
        <h2 class="center">Panel użytkownika</h2>
        <a 
        class="list-group-item list-group-item-action"
        [routerLink]="['user-data']"
        [queryParams]="queryParams"
        routerLinkActive="active" 
        >Dane użytkownika</a>
        <a 
        class="list-group-item list-group-item-action"
        [routerLink]="['user-addvertisments']"
        [queryParams]="queryParams"
        routerLinkActive="active" 
        >Ogłoszenia użytkownika</a>
        <a 
        *ngIf="isFoundUser"
        class="list-group-item list-group-item-action"
        [routerLink]="['buy-premium']"
        [queryParams]="queryParams"
        routerLinkActive="active" 
        >Kup premium</a>
        <a 
        *ngIf="isFoundUser"
        class="list-group-item list-group-item-action"
        [routerLink]="['add-advertisment']"
        [queryParams]="queryParams"
        routerLinkActive="active" 
        >Dodaj ogłoszenie</a>
        <a 
        *ngIf="isFoundUser"
        class="list-group-item list-group-item-action"
        [routerLink]="['edit-profile']"
        [queryParams]="queryParams"
        routerLinkActive="active" 
        >Edytuj profil</a>
        <button
        *ngIf="isFoundUser" 
        (click)="onShowDeleteModal()" 
        class="list-group-item list-group-item-action list-group-item-danger">Usuń profil
        </button>
    </div>
    <div class="d-flex flex-column bd-highlight mb-3 justify-content-around order-md-1">
        <router-outlet style="width: 0;"></router-outlet>
    </div>
</div>
<app-modal
    *ngIf="isDeleteModal"
    title="Czy na pewno chcesz usunąć swoje konto?"
    message="Pamiętaj tej operacji nie da się cofnąć"
    firstAction="Potwierdzam"
    secondAction="Anuluj"
    [isLoading]="isModalLoading"
    [isError]="isErrorModal"
    [showAcceptButton]="true"
    (action)="onRemoteUser($event)"
></app-modal>