<div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
    <div class="align-items-baseline">
        <h2 class="right">Imie</h2>
        <ul class="list-no-style right">
            <li>Imie: </li>
            <li>Nazwisko: </li>
            <li>E-mail: </li>
            <li>data dołączenia: </li>
        </ul>
    </div>
    <div class="align-items-baseline">
        <h2 class="center">Panel użytkownika</h2>
        <ul class="list-no-style center">
            <li><a class="alert-link">Kup premium</a></li>
            <li><a class="alert-link">Dodaj ogłoszenie</a></li>
            <li><a class="alert-link">Edytuj profil</a></li>
        </ul>
    </div>
</div>
