<app-main-page></app-main-page>
<div class="container " style="width: 100%">
  <div class="card-group">
    <div class="card">
      <div class="d-flex flex-md-row flex-column card-body">
        <div style="margin-right: 20px">
          <img class="card-img-top" src="https://picsum.photos/220/170" alt="Card image cap" >
        </div>
        <div class="">
          <h5 class="card-title">Tytuł ogłoszenia</h5>
          <p >Pierwsza rejestracja: </p>
          <p class="card-text">Rodzaj paliwa</p>
          <p class="card-text">Przebieg: </p>
        </div>
        <div class="p-2 flex-grow-1"style="text-align: right">
          <h4>1000zł</h4>
          <p>Dodane wczoraj</p>
          <p>Wygasa za 3 dni</p>
        </div>
      </div>

    </div>
  </div>
</div>
