.list-no-style {
    list-style: none;
    padding: 0;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
    margin-left: 10px;
}
.center {
 text-align: center;
}
.primary-color {
     color: var(--premium-color);
}
.success-color {
    color: var(--success-color);
}
.danger-color {
    color: var(--danger-color);
}