.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
  }
  
  .alert-box {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 30vh;
    left: 40vw;
    width: 20vw;
    z-index: 100;
    text-align: center;
    box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
    &__background {
      background: white;
      padding: 16px;
    }
    &-actions {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 20vw;
      align-items: space-around;
      &--right {
        text-align: right;
      }
      &--left {
        text-align: left;
      }
  }
  }
  

  @media(max-width: 1000px) {
    .alert-box {
      left: 30vw;
      width: 40vw;
    }
    .alert-box-actions{
      width: 40vw;
    }
  }
  @media(max-width: 700px) {
    .alert-box {
      left: 15vw;
      width: 70vw;
    }
    .alert-box-actions{
      width: 70vw;
    }
  }