:root {
  --text-hover: rgb(255, 106, 86);
  --btn-main: rgb(37, 114, 164);
  --background-adv: rgb(180, 180, 180);
  --btn-search: rgb(255, 102, 0);
  --color-font: #474747;
  --color-font-dar: #FFF;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
}
