<div class="d-flex flex-column align-items-center grow">
<div class="container " style="margin-top: 5%">
  <input type="text">
  <button>Search</button>
  <button>Clear</button>
</div>

<table class="table" style="width: 80%;margin: 2% auto 0; height: 700px;" *ngIf="!isLoading; else elseBlock ">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">ID</th>
    <th scope="col">FirstName</th>
    <th scope="col">lastName</th>
    <th scope="col">phone</th>
    <th scope="col">Premium</th>
    <th scope="col">Premium Expire</th>
    <th scope="col">Register Date</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datas" style="width: 100%; max-height: 70px !important;">
      <th>
        <button 
        (click)="deleteUser(data.id)"
        type="button" 
        class="btn btn-danger"
        >X</button>
      </th>
      <td >{{data.id}}</td>
      <td >{{data.firstName}}</td>
      <td >{{data.lastName}}</td>
      <td >{{data.phoneNumber}}</td>
      <td >{{data.isPremium}}</td>
      <td >{{data.premiumAccount}}</td>
      <td >{{data.createAccount}}</td>
    </tr>
  </tbody>
</table>
<ng-template #elseBlock >
  <div class="margin">
    <app-spinner></app-spinner>
  </div>
</ng-template>
<app-pagination
  [url]="'/admin'"
  [currentPage]="page"
  [maxPage]="maxPage"
  [queryParams]="{page:page}"
></app-pagination>
</div>

<!--<app-item-admin-panel  *ngFor="let data of datas" [data]="data"  [data]="data"></app-item-admin-panel>-->
