<div class="d-flex flex-column justify-content-center align-items-center grow">
<div class="container " style="margin-top: 5%">
  <input type="text">
  <button>Search</button>
  <button>Clear</button>
</div>

<table class="table" style="width: 80%;margin: 2% auto 0" *ngIf="isLoading; else elseBlock ">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">username</th>
    <th scope="col">Email</th>
    <th scope="col">Premium</th>
    <th scope="col">Premium Expire</th>
    <th scope="col">Register Date</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datas" style="width: 100%">
      <th style="color: red !important;">X</th>
      <td >{{data.id}}</td>
      <td >{{data.firstName}}</td>
      <td >{{data.lastName}}</td>
      <td >{{"user"}}</td>
      <td >{{data.isPremium}}</td>
      <td >{{data.premiumAccount}}</td>
      <td >{{data.createAccount}}</td>
    </tr>
  </tbody>
</table>
<ng-template #elseBlock class="">
  <app-spinner></app-spinner>
</ng-template>

</div>

<!--<app-item-admin-panel  *ngFor="let data of datas" [data]="data"  [data]="data"></app-item-admin-panel>-->
